*{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: box;
}

.navbar{
  height: 42px;
  background-color: rgb(0, 0, 0);
  color: white;
  word-spacing: 20px;
 
}
.logo-nav-black{

}

.shipping{
    height

}